[Unit]
Description=Dozzle Docker Log Viewer
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker rm -f dozzle-systemd
ExecStart=/usr/bin/docker run --name dozzle-systemd -d --volume=/var/run/docker.sock:/var/run/docker.sock -p 8928:8080 amir20/dozzle
ExecStop=/usr/bin/docker kill dozzle-systemd

[Install]
WantedBy=multi-user.target

