[Unit]
Description=First time config during first boot after installation
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/var/tmp/firstboot.sh > /var/log/firstboot.log 2>&1

[Install]
WantedBy=multi-user.target

