[Unit]
Description=Frigate NVR
Documentation=man:podman-generate-systemd(1)
Wants=network-online.target
After=network-online.target
RequiresMountsFor=%t/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70

Environment=CIDFILE=%t/%n.ctr-id
Environment=RUNTIME_CONFIG=%t/%n.config.yml
EnvironmentFile=/etc/frigate.conf

ExecStart=/usr/lib/frigate/start.sh
ExecStop=/usr/bin/podman stop --ignore -t 10 --cidfile=%t/%n.ctr-id

ExecStopPost=/usr/bin/podman rm -f --ignore -t 10 --cidfile=%t/%n.ctr-id
ExecStopPost=rm -f %t/%n.config.yml

Type=notify
NotifyAccess=all

[Install]
WantedBy=default.target

