[Unit]
Description=Frigate NVR
Documentation=man:podman-generate-systemd(1)
Wants=network-online.target
After=network-online.target
RequiresMountsFor=%t/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure

Environment=CIDFILE=%t/%n.ctr-id
Environment=PIDFILE=%t/%n.pid
Environment=RUNTIME_CONFIG=%t/%n.config.yml
EnvironmentFile=/etc/frigate.conf

ExecStartPre=/bin/rm -f %t/%n.ctr-id %t/%n.pid
ExecStart=/opt/frigate/start
ExecStop=/usr/bin/podman stop --ignore -t 5 --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm -f --ignore -t 5 --cidfile=%t/%n.ctr-id
ExecStopPost=/bin/rm -f %t/%n.config.yml %t/%n.ctr-id %t/%n.pid

Type=notify
NotifyAccess=all

[Install]
WantedBy=default.target
